@charset "UTF-8";

main{
    font-weight: bold;
    font-size: 1.3em;
    text-align: left;
    line-height: 2;
    color: var(--cortextpadrao);
    
}

main p {
    margin: 30px;
}

#verso2{
    margin: 30px 0px;
    padding-left: 30px;
    color: white;
    background: black url(../imagens/background001.jpg) left center / cover no-repeat scroll;
}